fastapi
uvicorn
langchain
langchain-community
langchain-ollama
chromadb
sentence-transformers
pydantic
python-multipart
numpy
pandas
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
web3
speechrecognition
pydub
pillow
PyPDF2
pytesseract
werkzeug
google-generativeai
langchain-google-genai
mangum
openai-whisper
